<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2024-2025 Lunaris AOSP
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lunaris.dolby.tests">

    <application>
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="org.lunaris.dolby"
        android:label="LunarisDolby Unit Tests" />
</manifest>
